/*===NULL CSS===========================================*/
*,*:before,*:after{box-sizing: inherit;}
html{box-sizing:border-box ;}
html,body{height:100%;width:100%;}
a,a:visited,a:hover{text-decoration: none;}
/*===/NULL CSS===========================================*/