@import "config/_vars";
@import "config/_mixin";
html {
	scroll-behavior: smooth;
}
body {
	background-color: #202020;
	margin: 0;
	&.lock-scroll {
		overflow: hidden;
		position: fixed;
		left: 0;
		height: 100vh;
		width: 100vw;
	}
}
/*hello guys*/
.wrapper {
	max-width: $wrapperWidth + px;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	min-height: 100%;
	overflow: hidden;
	background-color: #070707;
	font-family: Montserrat, Arial;
}
@import "config/_null-style";
@import "config/_fonts";
@import "config/_repeat-class";
@import "components/burger";
@import "components/menu";
@import "components/form";
@import "components/info-list";
@import "components/socials";
@import "components/product";
@import "config/_icon-fonts";
@import "libs/slider";
@import "layout/_header";
@import "layout/main-sections/first";
@import "layout/main-sections/service";
@import "layout/main-sections/example";
@import "layout/main-sections/offer";
@import "layout/main-sections/catalog";
@import "layout/main-sections/reviews";
@import "layout/main-sections/video-blog";
@import "layout/main-sections/contact-us";
@import "layout/_main";
@import "layout/_footer";

