doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/main.min.css")
    title Document
  body
    .wrapper
      include ./chunk/header
      main.main
        include ./chunk/first
        include ./chunk/service
        include ./chunk/example
        include ./chunk/offer
        include ./chunk/catalog
        include ./chunk/reviews
        include ./chunk/video-blog
        include ./chunk/contact-us
      include ./chunk/footer
    script(src="js/main.min.js") 

