.offer {
  // .offer__content

  &__content {
  }

  // .offer__title

  &__title {
    max-width: 370px;
    margin-bottom: 30px;
  }

  // .offer__subtitle

  &__subtitle {
  }

  // .offer__slider-bg

  &__slider-bg {
    position: relative;
    padding: 30px 15px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--yellow);
      transform: skewY(-7deg);
    }
  }

  // .offer__slider

  &__slider {
    position: relative;
    overflow: hidden;
  }

  // .offer__container

  &__container {
    max-width: 1310px;
    margin: 0px auto;
  }

  // .offer__btn-prev

  &__btn-prev {
  }

  // .offer__btn-next

  &__btn-next {
  }
}

.offer-slide {
  // .offer-slide__container

  &__container {
    display: flex;
    align-items: center;
    padding: 30px 60px;
    @media (max-width: 991.98px) {
      flex-direction: column-reverse;
    }
  }

  // .offer-slide__content

  &__content {
    flex: 0 1 590px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    @media (max-width: 991.98px) {
      align-items: center;
      text-align: center;
      flex: 0 1 auto;
    }
  }

  // .offer-slide__title

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    @include media-adaptiv-font(52, 22);
    line-height: 130%;
    text-transform: uppercase;
    color: #252525;
  }

  // .offer-slide__text

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #262626;
    @media (max-width: 767.98px) {
      font-size: 16px;
    }
    margin: 0;
    margin-bottom: 40px;
  }

  // .offer-slide__link

  &__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #0f0f0f;
    align-self: start;
    @media (max-width: 991.98px) {
      align-self: center;
    }
  }

  // .offer-slide__img

  &__img {
    flex: 0 1 525px;
    max-width: 525px;

    position: relative;
    padding-bottom: 50%;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 991.98px) {
      flex: 0 0 300px;
      min-width: 350px;
      padding-bottom: 0%;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
