.menu {
	// .menu__list

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		gap: 10px;
		justify-content: space-between;
		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}

	// .menu__item

	&__item {
		color: var(--white);
		font-weight: 300;
	}

	// .menu__link

	&__link {
		font-weight: inherit;
		font-size: 18px;
		line-height: 130%;
		color: inherit;
		@media (max-width: 991.98px) {
			font-size: 25px;
			font-weight: 700;
		}
	}
}