section.catalog 
  .catalog__container.container 
    h2.catalog__title.title Ката<span class="title-word-important">лог</span> 
      span.catalog__subtitle.subtitle Выбирай всё что по душе
    ul.catalog__list
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/yellow-hoodie.png", alt="желтое худи")
          h3.catalog__item-title худи
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/white-tshirt.png", alt="белая футболка")
          h3.catalog__item-title футболка
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/yellow-hoodie.png", alt="желтое худи")
          h3.catalog__item-title худи
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/yellow-hoodie.png", alt="желтое худи")
          h3.catalog__item-title худи
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/white-tshirt.png", alt="белая футболка")
          h3.catalog__item-title футболка
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/yellow-hoodie.png", alt="желтое худи")
          h3.catalog__item-title худи
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/yellow-hoodie.png", alt="желтое худи")
          h3.catalog__item-title худи
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/white-tshirt.png", alt="белая футболка")
          h3.catalog__item-title футболка
          p.catalog__item-text Эко материалы
      li.catalog__item
        article.catalog__item-content
          img.catalog__item-img(src="img/yellow-hoodie.png", alt="желтое худи")
          h3.catalog__item-title худи
          p.catalog__item-text Эко материалы