section.example 
  .example__container
    .example__content.container
      h2.example__title.title <span class="title-word-important">Пример</span> печати 
        span.example__subtitle.subtitle Это может быть на тебе
    .example__slider 
      .swiper-wrapper 
        .swiper-slide.example-slide
          .example-slide__container
            img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи с декором сзади")
        .swiper-slide.example-slide
          .example-slide__container
            img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи с декором сзади")
        .swiper-slide.example-slide
          .example-slide__container
            img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи с декором сзади")
        .swiper-slide.example-slide
          .example-slide__container
            img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи с декором сзади")
        .swiper-slide.example-slide
          .example-slide__container
            img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи с декором сзади")
        .swiper-slide.example-slide
          .example-slide__container
            img.example-slide__img(src="img/yellow-hoodie-with-decor.png", alt="желтое худи с декором сзади")
      button.swiper-button-prev.example__btn-prev.btn-reset
      button.swiper-button-next.example__btn-next.btn-reset