section.first
  h1.visually-hidden интернет магазин брендированной одежды и аксессуаров с высококачественной печатью под названием "masons branding wordshop"
  .first__container
    .first__content
      h2.first__title masons 
        span.title-word-important branding 
        | wordshop 
        span.first__subtitle.subtitle Высококачественная печать Брендирование одежды и аксессуаров
      a.first__link.btn(href="#") Каталог
    .first__img 
      img(src="img/boy-in-yellow-hoodie.png", alt="парень одетый в желтый худи с декором сзади")