header
	.header__container.container 
		.header__top-block
			.header__search
				input.header__input-search(type="text", name="search" placeholder="поиск")
				svg 
					use(xlink:href="img/svg/sprite.svg#search")
			img.logo(src="img/logo.png" alt="logotype site")
			.header__icons-and-lang
				ul.header__lang-list 
					li.header__lang-item 
						button.header__lang-btn.btn-reset ru
					li.header__lang-item 
						button.header__lang-btn.btn-reset ua
		nav.header__menu.menu
			.header__menu-container 
				ul.menu__list 
					li.menu__item 
						a.menu__link(href="#") Категория
					li.menu__item 
						a.menu__link(href="#") Категория
					li.menu__item 
						a.menu__link(href="#") Категория
					li.menu__item 
						a.menu__link(href="#") Категория
					li.menu__item 
						a.menu__link(href="#") Категория
					li.menu__item 
						a.menu__link(href="#") Категория
					li.menu__item 
						a.menu__link(href="#") Категория