section.offer 
  .offer__content.container
    h2.offer__title.title <span class="title-word-important">Акции</span> и предолжения
      span.offer__subtitle.subtitle Успей урвать себе
  .offer__slider-bg
    .offer__slider.offer__container
      .swiper-wrapper 
        article.swiper-slide.offer-slide 
          .offer-slide__container.container
            .offer-slide__content
              h3.offer-slide__title Русский корабль
              p.offer-slide__text Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте
              a.offer-slide__link(href="#", target="_blank") ПОДРОБНЕЙ
            .offer-slide__img 
              img(src="img/white-tshirt-with-decor.png", alt="белая футболка с декором сзади")
        article.swiper-slide.offer-slide
          .offer-slide__container.container
            .offer-slide__content
              h3.offer-slide__title Русский корабль
              p.offer-slide__text Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте
              a.offer-slide__link(href="#", target="_blank") ПОДРОБНЕЙ
            .offer-slide__img 
              img(src="img/white-tshirt-with-decor.png", alt="белая футболка с декором сзади")
        article.swiper-slide.offer-slide
          .offer-slide__container.container
            .offer-slide__content
              h3.offer-slide__title Русский корабль
              p.offer-slide__text Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте
              a.offer-slide__link(href="#", target="_blank") ПОДРОБНЕЙ
            .offer-slide__img 
              img(src="img/white-tshirt-with-decor.png", alt="белая футболка с декором сзади")
      button.offer__btn-prev.swiper-button-prev.btn-reset
      button.offer__btn-next.swiper-button-next.btn-reset
