section.reviews 
  .reviews__content.container
    h2.reviews__title.title От<span class="title-word-important">зы</span>вы
      span.reviews__subtitle.subtitle Только посмотри что о нас говорит твоя соседка
  .reviews__slider-bg
    .reviews__slider.reviews__container.container
      .swiper-wrapper 
        .swiper-slide.reviews-slide 
          .reviews-slide__container
            .reviews-slide__img
              img(src="img/iphone.png", alt="в смартфоне iphone на которым изображены отзывы")
        .swiper-slide.reviews-slide 
          .reviews-slide__container
            .reviews-slide__img
              img(src="img/iphone.png", alt="в смартфоне iphone на которым изображены отзывы")
        .swiper-slide.reviews-slide 
          .reviews-slide__container
            .reviews-slide__img
              img(src="img/iphone.png", alt="в смартфоне iphone на которым изображены отзывы")
      button.reviews__btn-prev.swiper-button-prev.btn-reset
        svg.reviews__btn-icon-next
          use(xlink:href="img/sprite.svg#arrow-prev")
      button.reviews__btn-next.swiper-button-next.btn-reset
        svg.reviews__btn-icon-prev
          use(xlink:href="img/sprite.svg#arrow-next")
