section.service 
  .service__container.container 
    h2.service__title.title Наши <span class="title-word-important">услуги</span> 
      span.service__subtitle.subtitle Главной деятельностью масонств
    ul.service__list
      li.service__item
        article.service__item-content
          h3.service__item-title Печать <br> флекс/флок плёнкой
          p.service__item-text Качественная печать При малых тиражах
          button.service__item-btn.btn-reset Подробней
          img.service__item-img(src="img/printing-machine.png", alt="принтер машина для печати одежды")
      li.service__item
        article.service__item-content
          h3.service__item-title Печать <br> флекс/флок плёнкой
          p.service__item-text Качественная печать При малых тиражах
          button.service__item-btn.btn-reset Подробней
          img.service__item-img(src="img/fever.png", alt="градусник")
      li.service__item
        article.service__item-content
          h3.service__item-title Печать <br> флекс/флок плёнкой
          p.service__item-text Качественная печать При малых тиражах
          button.service__item-btn.btn-reset Подробней
          img.service__item-img(src="img/printer.png", alt="принтер машина")
      li.service__item
        article.service__item-content
          h3.service__item-title Печать <br> флекс/флок плёнкой
          p.service__item-text Качественная печать При малых тиражах 
          button.service__item-btn.btn-reset Подробней
          img.service__item-img(src="img/printing-machine.png", alt="принтер машина для печати одежды")
      li.service__item
        article.service__item-content
          h3.service__item-title Печать <br> флекс/флок плёнкой
          p.service__item-text Качественная печать При малых тиражах 
          button.service__item-btn.btn-reset Подробней
          img.service__item-img(src="img/fever.png", alt="градусник")
      li.service__item
        article.service__item-content
          h3.service__item-title Печать <br> флекс/флок плёнкой
          p.service__item-text Качественная печать При малых тиражах
          button.service__item-btn.btn-reset Подробней
          img.service__item-img(src="img/printer.png", alt="принтер машина")