section.video-blog 
  .video-blog__container.container
    .video-blog__content
      h2.video-blog__title.title Ещё есть <span class="title-word-important">сомнения?</span>
        span.video-blog__subtitle.subtitle Тогда посмотри это видео и сам всё поймёшь
    .video-blog__video-clip
      <iframe class="video-blog__iframe" loading="lazy" width="100%" height="100%" src="https://www.youtube.com/embed/2Vo0lhfE8Jo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>